
 <%= render 'layouts/header' %>

<div id="userphotos-container">
	
	<div id="userphotos-content-container">
	
		<div id="hello" class="medium bold">
		
			<p>Hello Craig! Below are the photos that will be printed in your next photo box.</p>
		
		</div>
		
		<div id="account-status">
			
			<%= image_tag("total-photos.png") %>
		
		</div>
	
		<div id="month-selector">
		
			<select class="drop-month">
  <option value="volvo">November 2013</option>
  <option value="saab">October 2013</option>
</select>
					
		
		
		</div>
	
	
		<div id="photo-row">
		
			<div class="photo-box">
			
				<div class="photo">
					<%= image_tag("test-image.jpg") %>
				</div>
				
				<div class="photo-menu">
				
					<div class="size">
						<select class="drop">
						  <option value="volvo">4 x 6</option>
						  <option value="saab">5 x 8</option>
						</select>
					</div>
					
					<div class="options">
						<%= image_tag("delete.jpg", class: "icon") %>
						<%= image_tag("duplicate-icon.png", class: "icon") %>
						<%= image_tag("download-icon.png", class: "icon") %>
					</div>
				
				</div>
			
			</div>
			
			
			<div class="photo-box">
			
				<div class="photo">
					<%= image_tag("test-image.jpg") %>
				</div>
				
				<div class="photo-menu">
				
					<div class="size">
						<select class="drop">
  <option value="volvo">4 x 6</option>
  <option value="saab">5 x 8</option>
</select>
					</div>
					
					<div class="options">
						<%= image_tag("delete.jpg", class: "icon") %>
						<%= image_tag("duplicate-icon.png", class: "icon") %>
						<%= image_tag("download-icon.png", class: "icon") %>
					</div>
				
				</div>
			
			</div>
			
			
			<div class="photo-box">
			
				<div class="photo">
					<%= image_tag("test-image.jpg") %>
				</div>
				
				<div class="photo-menu">
				
					<div class="size">
						<select class="drop">
  <option value="volvo">4 x 6</option>
  <option value="saab">5 x 8</option>
</select>
					</div>
					
					<div class="options">
						<%= image_tag("delete.jpg", class: "icon") %>
						<%= image_tag("duplicate-icon.png", class: "icon") %>
						<%= image_tag("download-icon.png", class: "icon") %>					
					</div>
				
				</div>
			
			</div>
		
		
		
		</div>
		
		
		
		
		
		
		<div id="photo-row">
		
			<div class="photo-box">
			
				<div class="photo">
					<%= image_tag("test-image.jpg") %>
				</div>
				
				<div class="photo-menu">
				
					<div class="size">
						<select class="drop">
  <option value="volvo">4 x 6</option>
  <option value="saab">5 x 8</option>
</select>
					</div>
					
					<div class="options">
						<%= image_tag("delete.jpg", class: "icon") %>
						<%= image_tag("duplicate-icon.png", class: "icon") %>
						<%= image_tag("download-icon.png", class: "icon") %>
					</div>
				
				</div>
			
			</div>
			
			
			<div class="photo-box">
			
				<div class="photo">
					<%= image_tag("test-image.jpg") %>
				</div>
				
				<div class="photo-menu">
				
					<div class="size">
						<select class="drop">
  <option value="volvo">4 x 6</option>
  <option value="saab">5 x 8</option>
</select>
					</div>
					
					<div class="options">
						<%= image_tag("delete.jpg", class: "icon") %>
						<%= image_tag("duplicate-icon.png", class: "icon") %>
						<%= image_tag("download-icon.png", class: "icon") %>				
					</div>
				
				</div>
			
			</div>
			
			
			<div class="photo-box">
			
				<div class="photo">
				<%= image_tag("test-image.jpg") %>
				</div>
				
				<div class="photo-menu">
				
					<div class="size">
						<select class="drop">
  <option value="volvo">4 x 6</option>
  <option value="saab">5 x 8</option>
</select>
					</div>
					
					<div class="options">
						<%= image_tag("delete.jpg", class: "icon") %>
						<%= image_tag("duplicate-icon.png", class: "icon") %>
						<%= image_tag("download-icon.png", class: "icon") %>
					</div>
				
				</div>
			
			</div>
		
		
		
		</div>
		
	
	
	</div>
	
</div>	

 <%= render 'layouts/userFooter' %>
