<div id="header-container">

	<div id="header-content-container">
	
		<div id="header">
	
			<div id="logo">
				<%= link_to(image_tag("logo.png"), root_path) %>
			</div>
			
			
			<div id="nav" class="medium">
				
					<div class="nav-item">
						<a href="#">download extension</a>
					</div>

					<% if user_signed_in? %>

					<div class="nav-item">
						 <%= link_to "account settings", edit_user_registration_path %></a>
					</div>

					<div class="nav-item">
						<%= link_to "log out", destroy_user_session_path, method: :delete %>
					</div>

					<div class="nav-item-signup">
						 <%= link_to "upload a photo", new_user_registration_path, class: "signup" %>
					</div>

					<% else %>

					<div class="nav-item">
						 <a href="#how">how does it work?</a>
					</div>
				
					<div class="nav-item">
						<a href="#pricing">pricing</a>
					</div>

					<div class="nav-item">
						<%= link_to "log in", new_user_session_path %>
					</div>

					<div class="nav-item-signup">
						 <%= link_to "sign up", new_user_registration_path, class: "signup" %>
					</div>
				<% end %>

				
			
			</div>
		
		</div>
	
	</div>

</div>

